/* Global layout rules */ 

body {
  font-size: 10px;
  line-height: 1.5;
  font-family: LuzSans-Book, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background: #B2733D;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 20px 0px;
  vertical-align: bottom;
}

footer .copyright {
  font-family: LuzSans-Book bolder, sans-serif;
  font-size: 0.75em;
  position: sticky;
}


/* Rules by class */ 

.form {
  background: url('../img/Stave_&_Thief_Society.jpg') top center ;
  background-size: 100%;
  background-repeat: repeat-y;
}

.hdr {
  padding: 15px;
  border-radius: 15px;
  margin: 10px auto;
}

.logo {
  max-width: 30%;
  max-height: 30%;
  border-radius: 50%;
}

.headline {
  color: #FFFFFF; /*text color */
  font-size: 4em;
  text-align: center;
  padding-left: 15px;
  margin: 10px auto;
  position: center;
}

.subhead {
  font-size: 3em;
  color: #B2733D; /*text color */
  background-color: #2E2C2D;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px auto;
  position: center;
  border: 10px;
  border-color: #2E2C2D;
}

.box {
  font-size: 1.75em;
  color: #B2733D;
  background-color: #2E2C2D;
  text-align: center;
  border-radius: 15px;
  font-weight: 600;
  border: 25px;
  margin: 20px auto;
  max-width: 65%;
  padding: 15px;
}

.label {
  font-size: 1.25em;
  color: #2E2C2D;
  text-align: left;
  font-weight: bold;
}

.formBG {
  background-size: 65%;
  background-color: #B2733D;
  text-align: center;
  border-radius: 15px;
  border: 25px;
  margin: 20px auto;
  max-width: 85%;
  padding: 15px;
}