<!DOCTYPE html>
<html>

<head>
    <title>Satellite Submission Form</title>
    <link href="css/main.css" rel="stylesheet">
    <link href="css/normalize_v8.0.0.css" rel="stylesheet">
</head>

<body class="form"><br>
 
    <header class="hdr">

        <a class="logo" href="https://staveandthief.com/course-catalog/"><img class="logo" src="img/STS.jpg" alt="Stave & Thief Society Bourbon Stewards"></a>  <br>        
    </header>

    <span>

       <div align="center">
           
          <p class="headline">Want to Make Some Bourbon With Us?</p>
          <p class="subhead">Steward Partnership Options</p>
          <p class="headline">Let's Talk</p>
          <p class="box">Please fill out the form below. (Every field is required.)
          <br>
          <br>
          We'll review your submission, and if we think it's a good fit for a Stave & Thief Society class, we'll be in touch. If we have questions, we'll be in touch. And if we decide to pass, we'll be in touch. (Sensing the theme,yet?)</p>

        </div>

    </span>

    <span>
      
      <div class="formBG">
        
        <p class="label">Your Name:</p>
        <p class="label">Your City:</p>
        <p class="label">Your State:</p>
        <p class="label">Your Email Address:</p>
        <p class="label">Your Mobile Number:</p>
        <p class="label">Are you an Executive Bourbon Steward?</p>
        <p class="label">Is this YOUR distillery?</p>

        <br>
        <p class="label">Name of Distillery:</p>
        <p class="label">Name of Owner:</p>
        <p class="label">Are you Closed to the Public on Sunday?</p>
        <p class="label">Are you Closed to the Public on Monday?</p>
        <p class="label">Are you Closed to the Public on Friday?</p>
        <!--Do you make whiskey?
        Will you distill during class?
        Can you pour flights?
        What kind of A/V is available
        is there space for a class
        how many seats
        do you have a mailing list
        do you have community connections
        is there a local whiskey festival
        if yes, when?
        do you have a loading dock? 
        what fee would you want to collect? -->

      </div>

    </span>

    <span>
      
      <div align="center">
        
        <p class="box">To maintain the high level of education this program provides, we want to make sure we can do exactly what we do in Louisville, duplicating both structure and experience as closely as possible, right down to the last sensory training of the day. 
        <br>
        <br>
        Thank you in advance for helping us to keep our Stewardship Standards where they should be.  </p>


      </div>

    </span>

    <footer>
      <p class="copyright">&copy; 2018, headmc</p>
    </footer>

</body>

</html>
